@{
    ViewBag.Title = "Player";
}

<html lang="BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link rel="icon" href="../../favicon.ico">*@

    @*<title></title>*@

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/player.css" rel="stylesheet" />
    <script type="text/javascript" src="chrome-extension://bfbmjmiodbnnpllbbbfblcplfjjepjdn/js/injected.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-md-12 title">
            <h1>Vampire The Masquerade</h1>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <h3>Name:</h3>
                <h3>Player:</h3>
                <h3>Chronicle:</h3>
            </div>
            <div class="col-md-4">
                <h3>Nature:</h3>
                <h3>Demeanor:</h3>
                <h3>Concept:</h3>
            </div>
            <div class="col-md-4">
                <h3>Generation:</h3>
                <h3>Sire:</h3>
                <h3>Heaven:</h3>
            </div>
        </div>
        <div class="col-md-12 title">
            <h1>Attributes</h1>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <h1>Physical</h1>
                <h3>Strength</h3>
                <h3>Dexterity</h3>
                <h3>Stamina</h3>
            </div>
            <div class="col-md-4">
                <h1>Social</h1>
                <h3>Charisma</h3>
                <h3>Manipulation</h3>
                <h3>Appearence</h3>
            </div>
            <div class="col-md-4">
                <h1>Mental</h1>
                <h3>Perception</h3>
                <h3>Intelligence</h3>
                <h3>Wits</h3>
            </div>
        </div>
        <div class="col-md-12 title">
            <h1>Abilities</h1>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <h1>Talents</h1>
                <h3>Alertness</h3>
                <h3>Brawl</h3>
                <h3>Stamina</h3>
            </div>
            <div class="col-md-4">
                <h1>Skills</h1>
                <h3>Animal Kin</h3>
                <h3>Crafts</h3>
                <h3>Drive</h3>
            </div>
            <div class="col-md-4">
                <h1>Knowledges</h1>
                <h3>Academics</h3>
                <h3>Computer</h3>
                <h3>Finance</h3>
        </div>
        <div class="col-md-12 title">
            <h1>Advantages</h1>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <h1>Backgrounds</h1>
                <h3>____________</h3>
                <h3>____________</h3>
                <h3>____________</h3>
            </div>
            <div class="col-md-4">
                <h1>Disciplines</h1>
                <h3>____________</h3>
                <h3>____________</h3>
                <h3>____________</h3>
            </div>
            <div class="col-md-4">
                <h1>Virtues</h1>
                <h3>____________</h3>
                <h3>____________</h3>
                <h3>____________</h3>
            </div>
        </div>
        <div class="col-md-12 title">
            <h1>----------------</h1>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <h1>Humanity/Path</h1>
                <h3>____________</h3>
                <h3>Willpower</h3>
                <h3>____________</h3>
            </div>
            <div class="col-md-4">
                <h1>Blood Pool</h1>
                <h3>____________</h3>
                <h3>Weakness</h3>
                <h3>____________</h3>
            </div>
            <div class="col-md-4">
                <h1>Health</h1>
                <h3>____________</h3>
                <h3>____________</h3>
                <h3>____________</h3>
            </div>
        </div>
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
</body>
</html>
